<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      html, body { font-family: sans-serif; color: #3B4550;}
      .container {
        max-width: 550px;
        margin: 0 auto;
        padding: 25px 0;
      }
      a { text-decoration: none; }
      .quiet { color: #999999; font-size: 80%; }
      .footer {
        margin-top: 50px;
      }
      p.isolated { margin-top: 1.5rem; margin-bottom: 1.5rem; }
    </style>
  </head>
  <body>
    <div class="container">
      <p class="isolated">
        On <%= @user.signed_consent.created_at.strftime("%A, %B %d, %Y") %> we received a signed
        form from you giving your informed consent to participate in our Stress in Crohn's study.
      </p>
      <p class="isolated">
        Attached is your signed informed consent form.
      </p>
      <p class="isolated">CHOICES FOR DATA AND SAMPLES COLLECTED AS PART OF THIS RESEARCH:</p>

      <p class="isolated">
	<i>Relative location</i><br />
	You have the option to consent to allow your relative location to be collected by the study app. Your relative location will be used to verify environmental context and information such as how far you traveled and the speed at which you traveled. If you do not consent to share your relative location, this information will not be stored or used.
      </p>

      <p class="isolated">You have selected the following option:</p>
      <p> <%= @user.roster.opt_in_relative_location_answer %></p>

      <p class="isolated">
	<i>Sharing options</i><br />
	4YouandMe and its partners will receive your study data from your participation in this study. Sharing your coded study data more broadly (without video diaries and information such as your name) may benefit this and future research. Would you like to share your coded data more broadly with qualified researchers using Sage Bionetworks Synapse Governance Platform?
      </p>

      <p class="isolated">You have selected the following option:</p>
      <p> <%= @user.roster.opt_in_sharing_options_answer %></p>

      <p class="isolated">
	<i>Future Research Contact</i><br />
You have the option to give researchers permission to contact you in the future to collect additional information about you, discuss how your information and/or specimens might be used, or to discuss possible participation in another research project. Would you like researchers to be able to contact you?
      </p>

      <p class="isolated">You have selected the following option:</p>
      <p> <%= @user.roster.opt_in_future_research_contact_answer %></p>

      <p class="isolated">
	Thanks for joining and have a great day!
      </p>
      <p>
        ---<br />
        The 4YouAndMe Team
      </p>
    </div>
  </body>
</html>
