<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      html, body { width: 100%; }
      button { border-radius: 5px;  padding: 10px; background: #b5e7a0; color: #333333; cursor: pointer; margin: auto; }
      button:hover { box-shadow: 2px 4px #efefef; }
      a { text-decoration: none; }
      .quiet { color: #999999; font-size: 80%; }
    </style>
  </head>
  <body>
    <h4>Notification from Stress in Crohn's</h4>
    <p>
      <h3><%= @notification.title %></h3>
      <%= @notification.body %>
    </p>
    <p>Thanks!</p>
    <p>
      ---<br />
      The 4YouAndMe Team
    </p>
  </body>
</html>
 
