
Hi,

Please confirm your email address.

You have been asked to associate the email address <%= @user.email.address %>
with the phone number <%= @user.phone.number %>.

To confirm your email, copy the following link into your browser:

     <%= @validate_url %>

This link will expire in 2 hours.

Thanks for joining and have a great day!

---
The 4YouAndMe Team

