<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      html, body { font-family: sans-serif; color: #3B4550;}
      .container {
        max-width: 550px;
        margin: 0 auto;
        padding: 35px 0;}
      button {
        border-radius: 5px;
        padding: 15px 30px;
        background: #1FA9BD;
        color: #fff;
        cursor: pointer;
        margin: 25px 0;
        border: none;
        font-size: 100%;}
      button:hover { background: #1391A4; }
      a { text-decoration: none; }
      .quiet { color: #999999; font-size: 80%; }
      .footer {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Please confirm your email address</h4>
      <p>
        You have been asked to associate the email address: <b><%= @user.email.address %></b><br/>
	with the phone number: <b><%= @user.phone.number %></b>.
      </p>
      <p>
        The confirmation code is: <b><%= @email.confirmation_code %></b>
      </p>
      <a href="<%= @validate_url %>">
        <button class="button">Confirm Your Email</button>
      </a>
      <p>
        Or, copy and paste the following link into your browser:
      </p>
      <p>
        <%= @validate_url %>
      </p>
      <p class="quiet">This link will expire in 2 hours</p>
      <div class="footer">
        <p>Thanks for joining and have a great day!</p>
        <p>
          ---<br />
          The 4YouAndMe Team
        </p>
      </div>
    </div>
  </body>
</html>

