<% phone_number = Roster.find(params['id']).phone rescue nil %>
<li class="string input optional stringish" id="roster_phone_input">
  <label for="roster_phone" class="label">Phone</label>
  <input id="roster_phone" type="text" onKeyDown="replace_or_not(this)" value="<%=phone_number %>" name="roster[phone]" />
</li>
<script>
  var replaced = false;
  function replace_or_not(field) {
    if (!replaced) { replaced = true; field.value = ""; }
  }

  function maybe_fix_phone() {
    if (!replaced) {
      var field = document.getElementById("roster_phone");
      field.text = field.value = "<%= phone_number %>";
    }
  }
</script>
