<% if user&.study_started_at %>
  <div class="points-earned">
    <h3>Points earned by study month:</h3>
    <table>
      <tr>
	<% (1..12).each do |month| %>
	  <th><%= month %></th>
	<% end %>
      </tr>
      <tr>
	<% (1..12).each do |month| %>
	  <td> <%= user.points_of_study_month(month) %> </td>
	<% end %>
      </tr>
    </table>
  </div>
<% end %>
