<form id="superuser-tile-select" method="PUT" action="/crc/rosters/<%= params['id'] %>">
  <select name="tile[]" multiple="multiple">
    <% Tile.where.not(name: nil).pluck(:name).sort.uniq.each do |name| %>
      <option value="<%=name%>"><%=TileSchedule.canonicalize_task_name(name)%></option>
    <% end %>
  </select>
  <button type="submit" value="send-tile" name="submit">Send Tile</button>
</form>

<script>
  (() => {
    'use strict';
    const querystripper = ev => {
      if (ev) { window.removeEventListener(ev.type, querystripper, true); }
      try {
        const url = new URL(location.href);
        url.searchParams.delete("tile[]");
	url.searchParams.delete("submit");
	window.history.replaceState(null, "", url);
      } catch (ex) {
	console.error("BRIAN J. FOX TOLD YOU TO LOOK FOR THIS SPECIFICALLY, OTHERWISE IGNORE IT.")
      }
    };

    if (document.readyState === 'loading') {
      window.addEventListener('DOMContentLoaded', querystripper, true);
    } else {
      querystripper();
    }
  })();
</script>
