<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/bootstrap/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/list/main.min.js"></script>

<% true %>
<div>
  (Times shown in participant's timezone)
</div>
<div id="calendar" style="max-width: 800px;"></div>

<script>
    <% user = Roster.find(params['id']).participant rescue nil %>
    var user_id = "<%= user.id if user %>";
    var calendarEl = document.getElementById('calendar');
    // The FullCalendar-moment plugin we need to adjust for timezones requires an ES build system
    // (see https://fullcalendar.io/docs/timeZone), which we don't have right now.
    // So this calendar must be fed datetimes that have been pre-adjusted for the user's timezone
    var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid'],
        defaultView: 'dayGridWeek',
        timeZone: "UTC",
        events: <%= user.schedule_as_calendar_events(fin: user.study_started_at + 1.year, include: [:task, :survey], strip_tz: true).to_json.html_safe if user %>
    });
    calendar.render();
</script>
