<% if current_crc_user.superuser %>
  <div>
    <%= render partial: 'superuser' %>
  </div>
<% end %>

<script>
  function crc_tools_toggle_checkbox(checkbox, param) {
    var reg = new RegExp(param + "=true");
    var loc = window.location.href.replace(reg, "");
    var pfx = "?";
    loc = loc.replace("?&", "?");
    loc = loc.replace("&&", "&");

    if (checkbox.checked) {
      if (loc.indexOf("?") > -1)
	pfx = "&";
      loc = loc + pfx + param + "=true";
    }
    window.location.href = loc;
  }
    
  function toggle_schedule(checkbox) {
    crc_tools_toggle_checkbox(checkbox, "enable_schedule");
  }

  function toggle_feed(checkbox) {
    crc_tools_toggle_checkbox(checkbox, "enable_feed");
  }
</script>

<% user = Roster.find(params['id']).participant rescue nil %>

<div class="roster-show-hide">
  <% if  user&.study_started_at %>
  <input type="checkbox" name="schedule-toggle" <%= @show_tile_schedule ? 'checked' : '' %>
	  onChange="toggle_schedule(this)"> <label for="schedule-toggle">Show/Hide Schedule</label>
  <br />
  <% end %>
  <input type="checkbox" name="feed-toggle" <%= @show_feed ? 'checked' : '' %>
	  onChange="toggle_feed(this)"> <label for="feed-toggle">Show/Hide Feed Simulator</label>
</div>


<div>
  <%= render partial: 'points_earned', locals: {user: user} %>
  <% if @show_tile_schedule %>
    <%= render partial: 'tile_schedule' %>
  <% end %>
</div>

<% if current_crc_user.superuser %>
  <div>
    <% if @show_feed %>
      <%= render partial: 'view_feed' %>
    <% end %>
  </div>
<% end %>

