<%
   user = Roster.find(params[:id]).participant rescue nil
   schedules = nil
   if user
     base = user.tile_schedules.includes(:tile).order(active_at: :desc) 
     if params[:study_day]
       beg = (user.study_started_at + (params[:study_day].to_i - 1).days).in_time_zone(user.timezone).beginning_of_day
       fin = beg.end_of_day
       base = base.where(active_at: user.study_started_at..fin).where.not("expires_at < :beg", beg: beg)
     else
       base = base.where(':date BETWEEN ACTIVE_AT AND EXPIRES_AT', date: Time.zone.now)
     end
     schedules = base
   end
%>

<link rel="stylesheet" href="/assets/devices.min.css">
<style>
  .device-screen {
    height: 100%; width: 100%; font-size: 24px; background: white;
    padding: 40px 20px 20px 20px;
    border-radius: 40px;
    overflow-y: scroll;
  }
  .tile {
    min-width:95%; padding: 40px 20px;
    box-shadow: 0px 0px 5px 5px rgba(200,200,200,0.5);
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
    position: relative;
  }
  
  .tile h3  { font-size: 22px; font-family: "Times-Roman" }
  .tile.completed  h3 { text-decoration: line-through; }
  .tile p { font-size: 16px; font-family: "Times-Roman" }
  .tile button {
    margin-left: auto; margin-right: auto;
    background: rgba(0,100,0, 0.8); color: white;
    font-size: 14px;
    min-width: 130px;
  }
  .tile .tile-icon {
    margin-left: auto; margin-right: auto; height: 80px; width: 80px;
  }
  .tile span.active_at, .tile span.expires_at, .tile span.completed_at, .tile span.id {
    font-size: 8px; color: black; position: absolute; top:10px; left: 10px;
  }
  .tile span.expires_at { top: 18px; }
  .tile span.completed_at { right: 10px; left: auto; }
  .tile span.id { top: auto; bottom: 10px; }
  .tile.alert-style { background-color: rgb(233,233,164); }
  span.feed-for {
    font-size: 12px; font-family: 'Helvetica', 'Arial', sans-serif;
    display: block; margin-top: 4px;
  }
</style>
<% if schedules
   current_study_day = 0 %>
<div class="device device-iphone-x" style="float: right; margin-top: -700px;">
  <div class="device-frame">
    <div class="device-screen">
      <% schedules.each do |sched|
	 tile = sched.tile
	 icon = tile.icon
	 title = tile.title
	 icon ||= "checklist"
	 completed = sched.completed_at ? "completed" : "incomplete"
	 ttype = tile.referenced_type
	 heading = nil; body = nil
	 if ttype and ttype.include?("survey")
	   heading = TileSchedule.canonicalize_task_name(tile.name)
	   body = "Please complete the survey"
	   button = "Start now"
	 elsif ttype and ttype.include?("task")
	   heading = "It's time for a #{TileSchedule.canonicalize_task_name(tile.name)} task"
	   button = "Start now"
	 else
	   property = tile.properties.where(name: "contents").first
	   prophash = JSON.parse(property.value) rescue nil
	   contents = tile.contents.first.content if tile.contents.first
           button = tile.buttons.first.label if tile.buttons.first

	   if prophash
	     heading = prophash["heading"]
	     body = prophash["body"]
	   else
	     heading = contents
	   end
         end

	 if ttype == "ema"
	   heading = "Quick Activity"
	   body = nil
	   button = nil
	 end

	 feed_for = nil
	 if sched.study_day != current_study_day
	   feed_for = "Feed for #{(user.study_started_at + (sched.study_day - 1).days).strftime('%b %-d %Y')}  (Study Day #{sched.study_day})" rescue nil
	   current_study_day = sched.study_day
         end
      %>
      <% if feed_for  %>
	<span class="feed-for"><%= feed_for %></span>
      <% end %>

      <div class="tile <%= completed %> <%= tile.style_class %>">
	<span class="active_at">A: <%= sched.active_at.in_time_zone(user.timezone) %></span>
	<span class="expires_at">E: <%= sched.expires_at.in_time_zone(user.timezone) %></span>
	<% if sched.completed_at %>
	  <span class="completed_at">C: <%= sched.completed_at.in_time_zone(user.timezone) %></span>
	<% end %>
	<% if icon && tile.style_class != "alert-style" %>
	  <img class="tile-icon" src="/assets/<%= icon %>.png" onerror="this.src='/assets/default-icon.png';this.onerror='';">
	<% end %>
	<% if title and not heading %>
	    <h3><%= title %></h3>
	<% end %>
	<% if heading %>
	  <h3><%= heading %></h3>
	<% end %>
	<% if body %>
	  <p class="tile-body"><%= body %></p>
	<% end %>
	<% if button %>
	  <button><%=button %></button>
	<% end %>
	<span class="id">ID: <%= sched.id %></span>
      </div>
     <% end %>
    </div>
  </div>
  <div class="device-stripe"></div>
  <div class="device-header"></div>
  <div class="device-sensors"></div>
  <div class="device-btns"></div>
  <div class="device-power"></div>
</div>
<% end %>
