<div class="participants-container">
  <div class="participant">
    <span class="title">Total Roster Entries</span>
    <span class="value"><%= number_with_delimiter(rosters.count) %></span>
  </div>

  <div class="participant">
    <span class="title">Total Activated</span>
    <span class="value"><%= number_with_delimiter(users.count) %></span>
  </div>

  <% if current_crc_user.superuser %>
    <div class="participant">
      <span class="title">Mount Sinai</span>
      <span class="value"><%= number_with_delimiter(Roster.where(site: "MSSM").count) %></span>
    </div>

    <div class="participant">
      <span class="title">Oxford</span>
      <span class="value"><%= number_with_delimiter(Roster.where(site: "Oxford").count) %></span>
    </div>

    <div class="participant">
      <span class="title">Total Registered CRCs</span>
      <span class="value"><%= number_with_delimiter(CrcUser.count) %></span>
    </div>
  <% end %>

  <div class="participant">
    <span class="title">Number of Test Users</span>
    <span class="value"><%= number_with_delimiter(rosters.where(is_test_user: true).count) %></span>
  </div>
</div>