<!DOCTYPE html>
<html>
<head><meta charset= "utf-8">
<title> Stress in Crohn's Research Team </title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body
  {
    font-family: "Helvetica", "Arial", sans-serif;
  }
  a:link {
    color:#144E30;
  }
  a:visited{
    color:#144E30
  }
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #5ABB8B;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>
</head>
<body>
  <h2 style="color:#5ABB8B">Contact Information</h2>
  <button class="accordion"> Stress in Crohn's Research Team- Mount Sinai</button>
  <div class="panel">
  <h2 style="color:#5ABB8B"> Anthony Biello </h2>
  	<p>
  		<i> Clincial Research Coordinator</i>, Stress in Crohn's Study
  		<br>
  		Icahn School of Medicine at Mt. Sinai
  		<br> <br>
  		<a href="mailto:anthony.biello@mountsinai.org?Subject=Crohn&#8217s%20Help" target="_top"> anthony.biello@mountsinai.org</a>
  		<br>
  		<a href="tel+12128247736">212-824-7736</a>
  	</p>
	<h2 style= "color:#5ABB8B">Bruce Sands M.D.</h2>
		<p>
			<i>Principal Investigator</i>, Stress in Crohn's Study
			<br>
			Division of Gastroenterology
			<br>
			Icahn School of Medicine at Mt. Sinai
			<br> <br>
			<a href="mailto:bruce.sands@mssm.edu?Subject=Crohn&#8217s%20Help" target="_top">bruce.sands@mssm.edu</a>
			<br>
		</p>
  </div>
  <button class="accordion"> Stress in Crohn's Research Team- Oxford</button>
  <div class="panel">
    <h2 style="color:#5ABB8B"> Gastroenterology Clinical Trials Facility, John Radcliffe Hospital </h2>
    	<p>
    		<a href="mailto:CTF.ResearchNurses@nhs.net" target="_top">CTF.ResearchNurses@nhs.net</a>
    		<br>
    		<a href="tel+4401865231619">01865 231619</a>
    	</p>
      <h2 style= "color:#5ABB8B">Alissa Walsh M.D.</h2>
    		<p>
    			<i>Chief Investigator</i>, Stress in Crohn's Study
    			<br>
    			Inflammatory Bowel Disease Service
    			<br>
    			Translational Gastroenterology Department
          <br>
          John Radcliffe Hospital, Oxford
    			<br> <br>
    			<a href="mailto:alissa.walsh@ouh.nhs.uk" target="_top">alissa.walsh@ouh.nhs.uk</a>
    			<br>
    		</p>
  </div>
  <script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>

  </body>
  </html>
