<html>
  <head>
    <meta charset= "utf-8">
    <title> Stress in Crohn's Research Team </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
    body
    {
      font-family: "Helvetica", "Arial", sans-serif;
    }
    /* unvisited link */
    a:link {
      color:#144E30;
    }
    /* visited link */
    a:visited {
      color:#25DDAA;
    }
  </style>
  <body>
    <h1 style="color:#5ABB8B"> Stress in Crohn's Research Team</h1>
    <p>
      <a href="tel:+12122418100">212-241-8100</a>
      <br>
      <a href="mailto:help@4youandme.org?Subject=Crohn&#8217s%20Help" target="_top">help@4youandme.org</a>
    </p>
    <h2 style= "color:#5ABB8B">Bruce Sands M.D.</h2>
    <p>
      <i>Principal Investigator</i>, Stress in Crohn's Study
      <br>
      Division of Gastroenterology
      <br>
      Icahn School of Medicine at Mt. Sinai
      <br> <br>
      <a href="mailto:mail@email.edu?Subject=Crohn&#8217s%20Help" target="_top">mail@email.edu</a>
      <br>
      <a href="tel+15552423456">555-242-3456</a>
    </p>
    <h2 style="color:#5ABB8B"> Jane Doe </h2>
    <p>
      <i> Clincial Research Coordinator</i>, Stress in Crohn's Study
      <br>
      Research Department
      <br>
      Awesome University
      <br> <br>
      <a href="mailto:janedoe@awesomeuniversity.edu?Subject=Crohn&#8217s%20Help" target="_top"> janedoe@awesomeuniversity.edu</a>
      <br>
      <a href="tel+15552356789">555-235-6789</a>
    </p>
  </body>
</html>
