<html>
  <head>
    <meta charset= "utf-8">
    <title> Stress in Crohn's Research Team </title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <style>
    body
    {
      font-family: "Helvetica", "Arial", sans-serif;
    }
    /* unvisited link */
    a:link {
      color:#144E30;
    }
    /* visited link */
    a:visited {
      color:#25DDAA;
    }
  </style>
  <body>
    <h1 style="color:#5ABB8B"> Stress in Crohn's Research Team</h1>
    <p>
      Contact info for Oxford site
    </p>
  </body>
</html>
