<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body
  {
    font-family: "Helvetica", "Arial", sans-serif;
  }
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #5ABB8B;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
</style>
</head>
<body>

<h2 style="color:#5ABB8B">Frequently Asked Questions</h2>
<h3> Oura Ring </h3>
<button class="accordion">How do I charge my Oura ring?</button>
<div class="panel">
  <p>Place the ring on the charger provided to you. The charger size should match the size of the ring you are wearing. Let the device charge fully for optimal battery performance. This can take between 20-80 minutes. We suggest charging your device when you do your morning routine or when taking a shower.</p>
</div>

<button class="accordion">How do I sync my Oura Ring?</button>
<div class="panel">
  <p>Your ring will sync with the app through Bluetooth connection. You will set up this connection when you set up the device. If your app is unable to find your ring while the ring is on your finger, connect the ring to the charger, keep your phone close to the ring, and try again. For more help, please refer to your Participant Guide.</p>
</div>
<button class="accordion">How do I sync my Oura Ring data?</button>
<div class="panel">
  <p>Open the Oura App to sync the data from your ring. You will see your data in the Oura App, once the sync is completed. There is a delay of up to 24 hours for the data to show in the study app.</p>
</div>
<h3> Empatica Embrace Wristband </h3>
<button class="accordion">How do I charge my Empatica Embrace wristband?</button>
<div class="panel">
  <p>      Place the device on the charger provided to you. Let the device charge fully for optimal battery performance. This can take about 1 hour and 40 minutes. You will need to charge your device every day. We suggest you charge your device at night when you sleep.</p>
</div>
<button class="accordion">How do I sync my Empatica Embrace wristband?</button>
<div class="panel">
  <p>   Embrace needs to be connected via Bluetooth to a dedicated iPhone that is always with you, and the Mate App needs to be open on your  mobile device. You can make sure data from the device is being synced, by always having the Mate App open.
        For more help, please refer to your Participant Guide.</p>
</div>
<button class="accordion">Why am I receiving notifications from my Empatica Embrace wristband?</button>
<div class="panel">
  <p> The device is designed to alert users for different events. Learn more about these alerts and how to turn them off by referring to your Participant Guide.</p>
</div>
<h3>Bodyport Smart Scale</h3>
<button class="accordion">How do I turn on my scale?</button>
<div class="panel">
  <p>Your scale will come with four AA batteries. To turn your scale on, insert the batteries into the battery compartment located on the bottom side of the scale. For more help, please refer to your Participant Guide.</p>
</div>
<h3>Devices</h3>
<button class="accordion">What do I do if a device becomes uncomfortable?</button>
<div class="panel">
  <p>Stop wearing the device if it becomes uncomfortable or if you have a skin reaction (like a rash), and
  <a href="https://api.4youandme.net/app/api/v1/contact" target="_top">contact</a> a member of the study team.
  </p>
</div>
<button class="accordion">What do I do if one of the devices breaks or stops working?</button>
<div class="panel">
  <p>
  <a href="https://api.4youandme.net/app/api/v1/contact" target="_top">Contact</a> a member of the study team.
  </p>
</div>
<h3>RescueTime App</h3>
<button class="accordion">Do I need to share my location data?</button>
<div class="panel">
  <p>Yes. Location Tracking is how RescueTime tracks device use. RescueTime does not send location data to their servers and this data is not shared with 4YouandMe or any of its partners.</p>
</div>
<button class="accordion">How do I share my location data?</button>
<div class="panel">
  <p>You can go into Settings -> RescueTime -> Location and set “Location” to “ Always”.</p>
</div>
<h3>Pooply by HealthMode App</h3>
<button class="accordion">How do I use the Pooply app?</button>
<div class="panel">
  <p> Open the Pooply app and enter your passcode. On the day of an event, select “Add Event”.</p>
</div>
<h3>Surveys</h3>
<button class="accordion"> How will I know when I have a new survey to complete?</button>
<div class="panel">
  <p>Surveys will be sent out daily between 10:00 AM and 6:00 PM. You can see available surveys and activities on your feed in the study app. If notifications are enabled on your iPhone, you will receive daily reminders to complete your surveys.</p>
</div>
<button class="accordion">What do I do if I don’t want to answer a certain survey question?</button>
<div class="panel">
  <p>Skip the question. You do not have to answer any questions you don’t want to answer.</p>
</div>
<h3>Compensation and Points</h3>
<button class="accordion"> Will I be compensated for participating in the study?</button>
<div class="panel">
  <p>You will be paid up to a total of $400 over the course of the study. You can also keep the Oura Ring when you complete the study.</p>
</div>
<button class="accordion">How can I learn more about earning points and compensation?</button>
<div class="panel">
  <p>
    <a href="https://api.4youandme.dev/app/api/v1/points" target="_top">Click here</a> for information about the points and compensation system.</p>
</div>
<button class="accordion"> Will I earn points if I don't complete an activity?</button>
<div class="panel">
  <p>No! You must complete the activity for points to be earned. Activities will be monitored for indiscrepancies. For example, survey responses will be monitored for suspicious responses (e.g., all answers are identical or the survey was filled out very quickly). The awarding of points falls under the research team’s discretion.</p>
</div>
<h3>Other</h3>
<button class="accordion">Why is this app asking to access my health data?</button>
      <div class="panel">
        <p>
          Some study tasks, such as the Walk Test, will access health data (like the steps you take) from your iPhone.
        </p>
          </div>
<button class="accordion">What do I do if I don't want to participate in the study anymore?</button>
<div class="panel">
  <p>
    <a href="https://api.4youandme.net/app/api/v1/contact" target="_top">Contact</a> a member of the research team as soon as possible.
  </p>
    </div>
    
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</body>
</html>
