<html>
<head>
  <meta charset="utf-8">
  <title>Points and Compensation</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h2 style="color:#5ABB8B"> Points System and Compensation</h2>
  <p> You'll receive points for wearing sensors, taking surveys, and completing other study tasks. Sync your devices every day to earn points for wearing them. You can earn a gift card each month by reaching a fixed number of points.</p>
  <p> Points may take up to 24 hours to appear in your Activity Feed. If it's been over 3 days since you've synced a device, you can no longer earn points for those days.</p>

<style>
  body
{
    font-family: "Helvetica", "Arial", sans-serif;
  }
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
  padding:10px;
}
th
{
  text-align: left;
}
</style>
  <table>
  <tr>
    <th style="color: #5ABB8B"> Frequency </th>
    <th style="color: #5ABB8B"> Activity </th>
    <th style="color: #5ABB8B"> Points </th>
  </tr>
   <td> Daily tasks </td>
   <td> </td>
   <td> </td>
 <tr>
   <td> </td>
   <td> Self-assessed mood question </td>
   <td> 5 </td>
 </tr>
 <tr>
   <td> </td>
   <td> Surveys </td>
   <td> 5 </td>
 </tr>
 <tr>
   <td> </td>
   <td>Cognition task</td>
   <td> 10 </td>
 </tr>
 <tr>
   <td> </td>
   <td> Wear Empatica (x2 boost for 3 days in a row)* </td>
   <td> 5 </td>
 </tr>
 <tr>
   <td> </td>
   <td> Wear Oura (x2 boost for 3 days in a row)* </td>
   <td> 5 </td>
 </tr>
 <tr>
   <td> </td>
   <td> Bodyport weigh-in (x2 boost for 3 days in a row)* </td>
   <td> 5 </td>
 </tr>
 <tr>
   <td>Bi-weekly tasks </td>
   <td> </td>
   <td> </td>
 </tr>
 <tr>
   <td> </td>
   <td> Emotional Bias Task </td>
   <td> 30 </td>
 </tr>
 <tr>
   <td> </td>
   <td> Video diary </td>
   <td> 30 </td>
 </tr>
 </table>
<p> (*): 4x boost for all 3 devices 3 days in a row </p>
<h4 style="color: #144E30">Gift Card Amounts </h4>
<table>
 <style>
 table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
 }
 th, td {
   padding:10px;
 }
 th
 {
   text-align: left;
 }
 </style>
   <tr>
     <th style="color: #5ABB8B"> Monthly points awarded </th>
     <th style="color: #5ABB8B"> Gift card value </th>
   </tr>
   <tr>
     <td> >2000 </td>
     <td> $40</td>
   </tr>
   <tr>
     <td> 1500-2000 </td>
     <td> $30</td>
   </tr>
   <tr>
     <td> 1000-1500 </td>
     <td> $20</td>
   </tr>
   <tr>
     <td> 500-1000 </td>
     <td> $15</td>
   </tr>
 </table>
</body>
</html>
