<style>
  table.survey { }
  table.survey { border-collapse: separate; border-spacing: 20px 20px;  }
  table.survey .position {  width: 14px; text-align: center; }
  table.survey .question { min-width: 325px; max-width: 600px; }
  table.survey .answer { text-align: center; }
  table.survey tr:nth-child(odd) {background: #FFF}
</style>

<h3> Survey Name: <%= completed_task.survey.name %></h3>
<table class="survey">
  <thead>
    <tr>
      <th class="position">#</th>
      <th class="question">Question</th>
      <th class="answer">Answer</th>
      <th class="extra"></th>
    </tr>
  </thead>
  <tbody>
    <% completed_task.questions.each do |q|
       a = completed_task.answers.where(question: q).first
    %>
      <tr>
	<td class="position"><%= q.position %></td>
	<td class="question"><%= q.text %></td>
	<td class="answer"><%= a.answer rescue "<not answered>" %></td>
	<td class="extra"><%= a.option_answer rescue "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
