<style>
  table.survey { }
  table.survey { border-collapse: separate; border-spacing: 20px 20px;  }
  table.survey .position {  width: 14px; text-align: center; }
  table.survey .question { min-width: 325px; max-width: 600px; }
  table.survey .answer { text-align: center; }
  table.survey tr:nth-child(odd) {background: #FFF}
</style>

<h3> Survey Name: <%= completed_task.task.name %></h3>
<table class="survey">
  <thead>
    <tr>
      <th class="position">#</th>
      <th class="question">Question</th>
      <th class="answer">Answer</th>
      <th class="extra">In Text</th>
    </tr>
  </thead>
  <tbody>
    <% completed_task.answers.each_with_index do |measurement, pos| %>
      <tr>
	<td class="position"><%= pos %></td>
	<td class="question"><%= measurement.datatype %></td>
	<td class="answer"><%= measurement.value %></td>
	<td class="extra"><%= measurement.value_as_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
