
<style>
  table.completed-task { font-size: 120%; }
  table.completed-task .variable {  min-width: 185px; text-align: right; padding-right: 30px; font-weight: bold; }
  table.completed-task .value { min-width: 225px; }
  table.completed-task td.variable::after { content: ":" }
  table.completed-task th { display: none; }
</style>

<h3> Completed Task: <%= completed_task.name %> </h3>

<table class="completed-task">
  <thead>
  <tr>
    <th class="variable">Variable</th>
    <th class="value">Value</th>
  </tr>
  </thead>
  <tbody>
    <tr> <td class="variable">Comp. Task ID</td> <td class="value"><%= completed_task.id %> </td> </tr>    
    <tr> <td class="variable">User</td> <td class="value"><%= completed_task.user_identifier %> </td> </tr>
    <tr> <td class="variable">Task Type</td> <td class="value"><%= completed_task.task_type %> </td> </tr>
    <tr> <td class="variable">Task</td> <td class="value"><%= completed_task.task.name %> </td> </tr>
    <tr> <td class="variable">Started At</td> <td class="value"><%= completed_task.started_at %> </td> </tr>
    <tr> <td class="variable">Completed At</td> <td class="value"><%= completed_task.completed_at %> </td> </tr>
    <tr> <td class="variable">Duration</td> <td class="value"><%= completed_task.display_duration %> </td> </tr>
  </tbody>
</table>

<%= render(partial: "completed_survey", locals: { completed_task: completed_task }) if completed_task.task_type == "survey" %>
<%= render(partial: "completed_ema", locals: { completed_task: completed_task }) if completed_task.task_type == "ema" %>
