@import 'activeadmin_addons/all';
// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.participants-container {
    .participant {
	display: inline-block;
	margin:4px 3px;
	width: calc(25% - 12px);
	height: 100px;
	border: 1px solid #808080;
	position: relative;
	.title {
	    width: calc(100% - 4px);
	    position: absolute; bottom: 0; left: 0;
	    font-size: 24px; text-align: center;
	    @media screen and (max-width: 1048px) { font-size: 18px; }
	    background: #eee;
	}
	.value {
	    display: block;
	    width: 100%;
	    text-align: center;
	    font-size: 50px; font-weight: bold;
	    @media screen and (max-width: 960px) { font-size: 40px; }
	    @media screen and (max-width: 564px) { font-size: 30px; }
	}
    }
}

div.roster-show-hide {
    margin-top: 8px;
    input[type=checkbox] { margin-right: 4px; font-size: 40px; }
    label { font-size: 120%; }
}

div.points-earned {
    table, th, td { border: 1px solid gray; border-collapse: collapse; }
    table {
	width: 50%; 
	th, td { width: calc(100% / 12); text-align: center; }
    }
}
